
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MNELAB</title>

    <!-- Bootstrap core CSS -->
    <link href="~/webpanel/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/webpanel/css/simple-sidebar.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->








        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <p>Hoşgeldiniz </p>

                @Session["PersonelAd"].ToString()  @Session["PersonelSoyad"].ToString()
            </div>

            <div>
                <a class="navbar-brand" href="/Anasayfa/Index"><img src="~/img/logo4.png" alt="image" width="200" height="100"></a>

            </div>




            <div class="list-group list-group-flush">


                <div class="w3-dropdown-hover">
                    <a href="#" class="list-group-item list-group-item-action bg-light">Kullanıcı İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/Anasayfa/ProfilGunGetir" class="w3-bar-item w3-button">Profilimi Güncelle</a>


                    </div>
                </div>



                <div class="w3-dropdown-hover">

                    <a href="#" class="list-group-item list-group-item-action bg-light">Personel İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/Personel/Index" class="w3-bar-item w3-button">Personel Görüntüle</a>@*Personel Listesi*@
                       
                        <a href="/Izin/Index" class="w3-bar-item w3-button">İzinli Personeller</a>
                        <a href="/Izin/IzinAl" class="w3-bar-item w3-button">İzin Al</a>


                    </div>
                </div>

                <div class="w3-dropdown-hover">

                    <a href="#" class="list-group-item list-group-item-action bg-light">Cihaz İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/CihazMalz/Index" class="w3-bar-item w3-button">Cihazları Görüntüle</a>@*Malzeme listesi*@
                        <a href="/CihazMalz/MalzemeEkle" class="w3-bar-item w3-button">Cihaz Ekle</a>@**@
                        <!--<a href="#" class="w3-bar-item w3-button">Cihaz Kullanım Durumu Aktif Olan</a>-->@*Arızalı yada değil*@

                    </div>
                </div>


                <!--<div class="w3-dropdown-hover">

                    <a href="#" class="list-group-item list-group-item-action bg-light">İş Takip İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">Ödeme Kayıtları</a>-->@*Ödeme personel numune miktar listesi*@
                        <!--<a href="#" class="w3-bar-item w3-button">Numune Takip </a>-->@*numune hangi persnoel hangi tür num tarih*@
                        <!--<a href="#" class="w3-bar-item w3-button">Deney Yapan Personel Listesi</a>-->@*Deney tablosu personel deney*@

                    <!--</div>
                </div>-->


                <div class="w3-dropdown-hover">



                    <a href="#" class="list-group-item list-group-item-action bg-light">Laboratuvar  İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/Lab/Index" class="w3-bar-item w3-button">Laboratuvar Görüntüle</a>@*Laboratuvar listesi*@
                        <a href="/Lab/LabEkle" class="w3-bar-item w3-button">Laboratuvar Ekle </a>
                        <!--<a href="#" class="w3-bar-item w3-button">Laboratuvar Durumu Görüntüle</a>-->@*boş mu dolu mu listele*@

                    </div>
                </div>

                <div class="w3-dropdown-hover">

                    <a href="#" class="list-group-item list-group-item-action bg-light">Deney İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/Deney/Index" class="w3-bar-item w3-button">Yapılan Deneyleri Görüntüle</a>@*Deney listesi*@
                        <a href="/Deney/DeneyEkle" class="w3-bar-item w3-button">Deney Ekle </a>
                        <a href="#" class="w3-bar-item w3-button">Sonuçlanan Deneyler</a>@*Deney durumum  true olanalrı listele*@
                        <a href="#" class="w3-bar-item w3-button">Deney Tanımları </a>@*Yapılan deneylerle ilgili açıklamalar*@
                        <a href="/Deney/ListeYazdır" class="w3-bar-item w3-button">Deney Listesini Yazdır </a>

                    </div>
                </div>


                <div class="w3-dropdown-hover">

                    <a href="#" class="list-group-item list-group-item-action bg-light">Rapor İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/Rapor/Index" class="w3-bar-item w3-button">Raporları Görüntüle</a>@*Rapor listesi*@
                        <a href="/Rapor/RaporEkle" class="w3-bar-item w3-button">Rapor Ekle </a>
                        <a href="/Rapor/OnayRaporlar" class="w3-bar-item w3-button">Onaylanan Raporlar </a>@*durumu true olanları listele*@
                        <a href="/Rapor/OnaylanmayanRaporlar" class="w3-bar-item w3-button">Onaylanmayan Raporlar </a>@*durumu false olanları listele*@
                        <a href="#" class="w3-bar-item w3-button">Rapor Çıkart </a>@*yeni liste id ye göre rapor al diyince pdf formata geç*@

                    </div>
                </div>

                <div class="w3-dropdown-hover">


                    <a href="/Mesajlar/GidenMesaj" class="list-group-item list-group-item-action bg-light">Fatura İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/Fatura/Index" class="w3-bar-item w3-button">Faturaları Görüntüle</a>@*Fatura listesi*@
                        <a href="/Fatura/FaturaEkle" class="w3-bar-item w3-button">Fatura Ekle </a>
                        <a href="/Fatura/OdenenFaturalar" class="w3-bar-item w3-button">Ödenen Faturalar </a>@*durumu true olanları listele*@
                        <a href="/Fatura/OdenmeyenFatura" class="w3-bar-item w3-button">Ödenmeyen Faturalar </a>@*durumu false olanları listele*@

                        <a href="#" class="w3-bar-item w3-button">Fatura Çıkart </a>@*yeni liste id ye göre rapor al diyince pdf formata geç*@

                    </div>
                </div>

                <div class="w3-dropdown-hover">

                    <a href="#" class="list-group-item list-group-item-action bg-light">Numune İşlemleri</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/Numune/Index" class="w3-bar-item w3-button">Numuneleri Görüntüle</a>@*Numune listesi*@
                        <a href="/Numune/NumuneEkle" class="w3-bar-item w3-button">Numune Ekle </a>

                    </div>
                </div>


                <div class="w3-dropdown-hover">

                    <a href="#" class="list-group-item list-group-item-action bg-light">Mesajlaşma</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="/Mesajlar/Index" class="w3-bar-item w3-button">Gelen Mesajlar</a>@*Mesajların Lİstesi*@
                        <a href="/Mesajlar/GidenMesaj" class="w3-bar-item w3-button">Giden Mesajlar </a>
                        <a href="/Mesajlar/YeniMesaj" class="w3-bar-item w3-button">Yeni Mesaj </a>
                    </div>
                </div>


                <div class="w3-dropdown-hover">

                    <a href="#" class="list-group-item list-group-item-action bg-light">Duyurular</a>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">Duyuruları Görüntüle</a>
                        <a href="#" class="w3-bar-item w3-button">Duyuru Ekle </a>

                    </div>
                </div>

                <a href="/Anasayfa/LogOut" class="list-group-item list-group-item-action bg-light">Çıkış Yap</a>
            </div>
        </div>

        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle">Menü</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="container">

                    <a href="#" class="btn btn-danger" title="İlk Kayıt Olanlar İçin Yapılacaklar" data-toggle="popover" data-trigger="focus" data-content="Yeni Kayıt İşlemlerinizde ->Kullanıcı İşlemleri->Profilimi Güncelle kısmından çalıştınız laboratuvar ve personel türünüzü seçiniz.">İlk Kayıt İşlemi</a>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                        <li class="nav-item active">
                            <a class="nav-link" href="/HastaAnasayfa/Index">Anasayfa <span class="sr-only">(current)</span></a>
                        </li>


                        <li class="nav-item active">
                            <a class="nav-link" href="#">Hakkımızda <span class="sr-only">(current)</span></a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ayarlar
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/Anasayfa/ProfilGunGetir">Hesabım</a>
                                <a class="dropdown-item" href="/Anasayfa/LogOut">Çıkış Yap</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/webpanel/vendor/jquery/jquery.min.js"></script>
    <script src="~/webpanel/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });</script>

</body>

</html>