
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Hasta_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <br />
    <br />
    <br />
    <div style="border:groove;">
        <h1 style=" text-align: center; text-transform: uppercase; color: #58b3cc;">MNE LAB Nedir?</h1>
        <p style=" text-indent: 30px; text-align: justify; letter-spacing: 2px;">
            MNE LAB Laboratuvar İş Takip Sistemi müşterinizin işlem takibini ve Laboratuvarda çalışan personelin iş akış takibini sağlayan bir sistemdir.Ayrıca mesajlaşma ile personel
            ve müşteri iletişimide sağlanır.Rapor Takibi,Fatura Takibi,Numune Takibi,Personel Takibi,Malzeme-Cihaz Takibi gibi işlemlerin takibine ortam sağlayan bir sistemdir..
          
        </p>
    </div>

</body>
</html>

