@model MneLabMVC.Models.Entitys.OdenenFaturaTBL
@{
    ViewBag.Title = "OdemeYap";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!DOCTYPE html>
<html>
<title>FaturaOdeme</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <br />
    <br />
    <br />

    <form class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="post">
        <h2 class="w3-center">Fatura Çıkart</h2>

        <div class="w3-row w3-section">
            <div><label>Ödenen Fatura</label></div>
            <div class="w3-rest">
                @Html.DropDownListFor(x => x.FaturalarTBL.FaturaID, (List<SelectListItem>)ViewBag.ftrdgr, new { @class = "form-control" })

            </div>
        </div>

        <div class="w3-row w3-section">
            <div><label>Fatura İşlemini Yapan Personel</label></div>
            <div class="w3-rest">
                @Html.DropDownListFor(x => x.PersonellerTBL.PersonelID, (List<SelectListItem>)ViewBag.perdgr, new { @class = "form-control" })

            </div>
        </div>



        <div class="w3-row w3-section">
            <div><label>Fatura Çıkartma Tarihi</label></div>
            <div class="w3-rest">
                <input type="text" class="form-control" name="OnayTarihi" value="@DateTime.Now.ToShortDateString()" placeholder="Fatura Çıkart" />
                @*burda date now demek o günün tarihini kısaca alır *@
            </div>
        </div>




        <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Fatura Çıkart</button>

    </form>

</body>
</html>



