@model MneLabMVC.Models.Entitys.LaboratuvarlarTBL
@{
    ViewBag.Title = "LabEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!DOCTYPE html>
<html>


<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
    <br />
    <br />
    <br />

    <form class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" method="post">
        <h2 class="w3-center">Labıratuvar Ekle</h2>

        <div class="w3-row w3-section">

            <div class="w3-rest">
                <input class="w3-input w3-border" name="LabKodu" type="text" placeholder="Laboratuvar Kodunu Giriniz...">
            </div>
        </div>

        <div class="w3-row w3-section">

            <div class="w3-rest">
        @Html.DropDownListFor(x=>x.LabTurTBL.LabTurID,(List<SelectListItem>)ViewBag.dgrlab,new { @class="form-control"})
            </div>
        </div>

     
     


      




        <button class="w3-button w3-block w3-section w3-blue w3-ripple w3-padding">Laboratuvar  Ekle</button>

    </form>

</body>
</html>
